.temple_container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
  }
  .services_card {
    text-align: center;
    padding: 1rem;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  @media screen and (max-width: 1024px) {
    .temple_container {
      grid-template-columns: repeat(2 330px);
      justify-content: center;
      row-gap: 1.875rem;
    }
  }
  @media screen and (max-width: 868px) {
    .temple_container {
      grid-template-columns: 310px;
    }
  }